<!DOCTYPE html>
<html>
    <head>
        <style>
            header {
  background-color: #262626;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
h2{
    text-align:center;
    font-size:40px;
}
h3{
  text-align:center;
  font-size:30px;
}
p{
    font-size:25px;
}
        </style>
        </head>

        <body>
            <header>
                <h1>JVW Fake News Detector</h1>
              </header>
              <br>
              <br>
              <br>

              <h2 style="font-weight:bold;">Do you need help or just want to discuss the product with us?</h2>
              <br>
              <br>
              <br>
              <br>
              <h3> Contact us!</h3>
              <h3>JVWFakeNewsDetector@gmail.com</h3>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>


        </body>
        </html>